/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #f4f4f4;
    color: #000000;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: #8f3baef3;
    color: #fff;
    padding: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
    flex: 1;
}

.place-card, .place-info {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.place-image-large {
    align-self: center;
    size: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    text-align: center;
    background-color: #8f3baef3;
    padding: 1rem;
}
